<h1>Listing animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthdate</th>
    <th>Birth weight</th>
    <th>Length</th>
    <th>Birth location</th>
    <th>Breeder name</th>
    <th>Breeder email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.birthdate %></td>
    <td><%= animal.birth_weight %></td>
    <td><%= animal.length %></td>
    <td><%= animal.birth_location %></td>
    <td><%= animal.breeder_name %></td>
    <td><%= animal.breeder_email %></td>
    <td><%= link_to 'Show', animal %></td>
    <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
    <td><%= link_to 'Destroy', animal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Animal', new_animal_path %>
