<h1>Listing prices</h1>

<table>
  <tr>
    <th>Breed</th>
    <th>Quarterly report</th>
    <th>Date</th>
    <th>Price</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%= price.breed_id %></td>
    <td><%= price.quarterly_report_id %></td>
    <td><%= price.date %></td>
    <td><%= price.price %></td>
    <td><%= price.source %></td>
    <td><%= link_to 'Show', price %></td>
    <td><%= link_to 'Edit', edit_price_path(price) %></td>
    <td><%= link_to 'Destroy', price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Price', new_price_path %>
