<p id="notice"><%= notice %></p>

<p>
  <b>Market:</b>
  <%= @quarterly_report.market_id %>
</p>

<p>
  <b>Name:</b>
  <%= @quarterly_report.name %>
</p>

<p>
  <b>Body:</b>
  <%= @quarterly_report.body %>
</p>


<%= link_to 'Edit', edit_quarterly_report_path(@quarterly_report) %> |
<%= link_to 'Back', quarterly_reports_path %>
