<br />
<div class="line"></div>
<%= form_for(@inspection) do |f| %>
  <% if @inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inspection.errors.count, "error") %> prohibited this inspection from being saved:</h2>

      <ul>
      <% @inspection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date, "Inspection Date" %><br />
    
      <%= f.text_field :date %>
    
  </div>
	<div class="field" style="display:none;">
    <%= f.label :animal %><br />
    <%= f.text_field :animal_id %>
  </div>

  <div class="field">
    <%= f.label :length, "Animal Length" %><br />
    
      <%= f.text_field :length %>
    
  </div>
  <div class="field">
    <%= f.label :weight, "Animal Weight" %><br />
    
      <%= f.text_field :weight %>
    
  </div>
  <div class="field">
    <%= f.label :disease, "Signs of Disease?" %><br />
    
      <%= f.check_box :disease %> Yes
    
  </div>
  <div class="field">
    <%= f.label :temperment %><br />
    
      <select name="inspection[temperment]">
				<option></option>
				<option>Friendly</option>
				<option>Indifferent</option>
				<option>Shy</option>
				<option>Nervous</option>
				<option>Aggressive</option>
				<option>Biter</option>
			</select>
    
  </div>
	<br />
	<h5>Areas Checked</h5>
	<p>Did you do a close examination of the animal?</p>
  <div class="field">

      <%= f.check_box :mouth %> Mouth

    
      <%= f.check_box :vent %> Vent

    
      <%= f.check_box :eyes %> Eyes
    </div>
		<div class="field">
			 <%= f.label :belly %> <br />
      <%= f.text_field :belly %>
		</div>

  <div class="field">
    <%= f.label :outcome, "Notes and summary of conditions." %><br />
    
      <%= f.text_area :outcome %>
    
  </div>
  <div class="actions">
    <%= f.submit %><br /><br />
  </div>
<% end %>
<script>
  var date_field = $("#inspection_date");
  date_field.datepicker({ defaultDate: date_field.val(), dateFormat: 'yy-mm-dd' });
</script>

